.sidebar {
  width: 250px;
  background-color: #0e0e0e;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}



.back-home-button {
  background-color: #5c1414;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}

.back-home-button:hover {
  background-color: #350c04;
}

.new-chat-button {
  background-color: #5c1414;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}

.new-chat-button:hover {
  background-color: #360404;
}

.chats-heading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.session-list {
  list-style: none;
  color:#5c1414;
  padding: 0;
}

.session-list li {
  padding: 10px;
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.session-list li:hover {
  background-color: #2d0404;
}

.session-list li.active {
  background-color: #5c1414;
  color: white;
}

.session-list .no-results {
  padding: 10px;
  color: #aaa;
  font-size: 0.9em;
}

.clear-history-button {
  background-color: #5c1414;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 100px;
  width: 100%;
}

.clear-history-button:hover {
  background-color: #2d0c03;
}